*{padding: 0;margin:0;font-family: 'arial','돋움';}
		
.hidden{display: none;} 
 /*1. 가장 위쪽에 있는 헤더.*/
.logo{width: 10%;} 
.logo img{width: 100%;}
.menu #mn{list-style: none; line-height: 2.5;}
.menu #mn li{float: left; padding:0 10px;}
.menu #mn li a{text-decoration: none; font-size: 14px;}

.no-padding{padding:0;}
.no-margin{margin:0;}
/*2. 타이틀.*/
.carousel-title{
	font-size: 36px;
	font-weight: 300;
	line-height: 44px;
	display: block;
	text-align: center;
	margin-top: 50px;
}

div{display: block;}
header{margin: 20px 0;}
p{display: block;}

/*3. 타이틀 밑의 소제목.*/
.contents h3{

	display: block;
	font-size: 24px;
	margin-top: 50px;
	line-height: 1.2;
	text-align: center;

}
/*4. about us 사진. 부트스트랩 액자 이용.*/
.about-us-pic {

	width: 650px;
    display: block;
	float: left;
	position: absolute;
}	

#about-us-pic{
	width: 500px;
    display: block;
	float: left;
	position: absolute;
}
/*5. about us의 텍스트.*/
.about-t {

	width: 600px;
	height: 160px;
	float: right;
	text-align: left;	
	position: block;	
}
/*5. philosophy 부트스트랩 액자 사용.*/
.philosophy-pic {

	width: 520px;
    height: 200px;
    display: block;
	float: right;
	position: relative;

}	
/*6. philosophy 시작.*/
.philosophy{padding-top: 30px;}
/*7. philosophy의 텍스트.*/
.philosophy-t {

	width: 600px;
	height: 351px;
	float: left;
	text-align: left;	
	display: block;	
}
/*8. philosophy의 타이틀.*/
.title {
	font-size: 14px;
	color: #caaf97;
    line-height: 1.2;
	float: right;
	text-align: right;
	margin-top: 25px;
	padding-right: 20px;

}
/*9. philosophy의 소제목.*/
.sub-title{
	margin-top: 45px;
	float: right;
	font-size: 36px;
	line-height: 40px;
	font-weight: 100;
	text-align: right;
	margin-right: -70px;
}
/*10. philosophy의 두번째 소제목.*/
#p-sub2{
	width: 600px;
	float: left;
	text-align: right;

	margin-right: 100px;
}
/*11. Busniess Division 시작.*/
.busniess-div h3{
	display: block;
	font-size: 24px;
	margin-top: 30px;
	line-height: 1.2;
	text-align: center;
}
/*12. Busniess Division 에서 부트스트랩을 이용하서 텍스트를 넣은 부분*/
.busniess a{text-align: justify;}

/*13. Busniess Division 안의 큰 제목*/
.b-header h2{
	font-size: 36px;
	font-weight: 300;
	line-height: 44px;
	display: block;
	text-align: center;
	margin-top: 50px;
}
/*14. Busniess Division 안의 소제목*/
.b-sub-header p{
	
	display: block;
	font-size: 20px;
	margin-top: 20px;
	line-height: 1.2;
	text-align: center;
	color: #caaf97
}
/*15.  Busniess Division 의 원. 부트스트랩의 이미지-원 이용.*/
.b-circle{
	text-align: center;
	position: relative;
}
/*16. Busniess Division 의 원1.*/
#circle-t1 {
	font-size: 15px;
    color: #666;
    line-height: 20px;
    vertical-align: top;
	position: absolute;
	width: 236px;
	height: 60px;
	margin-top: -190px;
	display: block;
	margin-left: 180px;
}
/*17. Busniess Division 의 원2.*/
#circle-t2 {
	font-size: 15px;
    color: #666;
    line-height: 20px;
    vertical-align: top;
	position: absolute;
	width: 236px;
	height: 60px;
	margin-top: -190px;
	display: block;
	left: 745px;
}
/*18. Busniess Division 의 원3.*/
#circle-t3 {
	font-size: 15px;
    color: #666;
    line-height: 20px;
    vertical-align: top;
	position: absolute;
	width: 236px;
	height: 60px;
	margin-top: -190px;
	display: block;
	right: 470px;
}
/*19.  Office의 제목.*/
.office h3{

	display: block;
	font-size: 24px;
	margin-top: 45px;
	line-height: 1.2;
	text-align: center;
	border-top: solid 1px;
}
/*20.  Office의 이미지 메뉴.*/
.imge-menu{padding:10px 0;}
.image-menu img{width: 100%;}
.image-menu .image-menu-desc{position: absolute; top: 0; width: 100%; cursor: pointer;}

.image-menu .image-menu-desc .text{color: #fff; text-align: left;}
.image-menu .image-menu-desc #title{margin-top: 10px; padding-left: 10px;}
.image-menu .image-menu-desc #desc-c #desc-w{margin-top: 20px; padding-left: 10px;}
.image-menu #title{font-size: 30px}
.image-menu #desc-c{font-size: 12px; color: #eacbaf;}
.image-menu #desc-w{font-size: 12px; color: white;}
/*21. 부트스트랩을 이용 하려 하였으나, 마음에 드는게 없어서 그냥 디브로 했습니다.*/
.footer-info{
	margin-top: 20px;
	display: block;
	position: relative;
	width: 1140px;
	height: 29.09px;
	background-color: #f0f0f0;
	left: 295px;
	text-align: left;
	background-color: #cdcdcd;

}
/*22. 푸터의 구글.*/
.footer-info h3{
	position: absolute;
	top: 60%;
    left: 20px;
    margin-top: -18px;
    color: white;

}
/*23. 푸터의 카피라이트.*/
.footer-info p{
	padding-left: 178px;
	font-size: 10px;
    color: #f0f0f0;
    line-height: 50px;
    display: block;
    position: absolute;
    margin-top: -30px;
    top: 60%;

}